<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment List</title>
</head>
<body>
    <h3>Appointment List</h3>
    <ul>
        <% for(let booking of bookings){ %>
                <li><a href="/booking/<%= booking._id %>"><%= booking.service %></a> </li>
            <% } %>
    </ul>

        <a href="/booking/new">Add a new apppointment</a>

</body>
</html>